<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ScoringDB" connectionString="Data Source=(local);Initial Catalog=db_smeapplication;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="ScoringDB" connectionString="Data Source=den1.mssql6.gear.host;Initial Catalog=ameriabank;Persist Security Info=True;User=ameriabank;Password=Ur3Csh?!x4iq" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
