$rt-namespace: 'Toastify';
$rt-toast-width: 320px;
$rt-toast-background: #ffffff;
$rt-toast-min-height: 64px;
$rt-toast-max-height: 800px;

$rt-color-default: #fff;
$rt-color-info: #3498db;
$rt-color-success: #07bc0c;
$rt-color-warning: #f1c40f;
$rt-color-error: $danger;

$rt-text-color-default: #aaa;

$rt-color-progress-default: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);

$rt-mobile: "only screen and (max-width : 480px)";
$rt-font-family: sans-serif;
$rt-z-index: 9999;

