<html>
    <head>
        <style>
            @media print{
                .non-breakable{
                    page-break-inside: avoid;
                    page-break-before: avoid;
                }
                h2 {
                    page-break-after: avoid;
                }
            }
            body {
                font-size: 8pt;
                counter-reset: l1counter;
            }
            hr {
                border: 1px solid #888888;
                border-bottom: 0px;
            }
            p {
                text-align: justify;
            }
            .bold {
                font-weight: bold;
            }
            .italic {
                font-style: italic;
            }
            .hidden {
                display: none;
            }
            .show {
                display: inline;
            }
            .level1 ~ div.section-content, .section h2 ~ div.section-content {
                padding-left: 15px;
                counter-reset: l2counter;
            }
            .level2 ~ div.section-content, .section h3 ~ div.section-content {
                padding-left: 25px;
                counter-reset: l3counter;
            }
            .level3 ~ div.section-content, .section h4 ~ div.section-content {
                padding-left: 35px;
                counter-reset: l4counter;
            }
            .level4 ~ div.section-content, .section h5 ~ div.section-content {
                padding-left: 45px;
            }
            .section h2::before, .level1::before {
                content: counter(l1counter) ".";
                counter-increment: l1counter;
                width: 15px;
                display: inline-block;
            }
            .section h3::before, .level2::before {
                content: counter(l1counter) "." counter(l2counter) ".";
                counter-increment: l2counter;
                width: 25px;
                display: inline-block;
            }
            .section h4::before, .level3::before {
                content: counter(l1counter) "." counter(l2counter) "." counter(l3counter) ".";
                counter-increment: l3counter;
                width: 35px;
                display: inline-block;
            }
            .section h5::before, .level4::before {
                content: counter(l1counter) "." counter(l2counter) "." counter(l3counter) "." counter(l4counter) ".";
                counter-increment: l4counter;
                width: 45px;
                display: inline-block;
            }
            h1{
                font-size: 11pt;
                text-align: center;
                text-transform: uppercase;
            }
                h1 .note {
                    font-size: 10pt;
                    text-transform: none;
                    font-weight: normal;
                }
            .note {
                font-size: 7pt;
            }
            .border-bottom {
                border-bottom: solid 1px black;
            }
            .border-right {
                border-right: solid 1px black;
            }
            .center {
                text-align: center;
            }
            h2 {
                font-size: 10pt;
            }
            h3 {
                font-size: 8pt;
            }

            .field-label {
                font-style: italic;
                padding: 3px;
            }
            .field-note {
                font-weight: normal;
                padding: 1px 3px 8px 3px;
                font-size: 8pt;
            }
            .field-value {
                font-weight: bold;
                /* margin: 10px; */
                padding: 3px;
                border: 1px solid grey;
                background-color: #cbd9e9;
                overflow-wrap: break-word;
                word-break: break-all;
            }
            .bottom-align {
                vertical-align: bottom;
            }
            .signature-box .signature-text {
                vertical-align: bottom;
                font-size: 8pt;
                border-top: 1px solid black;
                margin-left: 5px;
                margin-right: 5px;
                padding-top: 5px;
            }
            div.table {
                display: table;
                width: 100%;
            }
            div.table-row {
                display: table-row;
                /*page-break-inside: avoid;*/
                width: 100%;
            }
            div.table-cell-25{
                display: table-cell;
                width: 25%;
            }
            div.table-cell-50 {
                display: table-cell;
                width: 50%;
            }
            div.table-cell-75 {
                display: table-cell;
                width: 75%;
            }
            div.table-cell {
                display: table-cell;
                width: auto;
            }
            .nobull {
                list-style-type: none;
            }
            #title {
                width: 350px;
                margin-left: auto;
                margin-right: auto;
            }
            #document-header-info {
                position: absolute;
                left: 0px;
                width: 100%;
            }
            #document-header-info #date {
                font-size: 8pt;
                margin-right: 10px;
                float: right;
            }
            #document-header-info .note {
                font-size: 6pt;
            }
        </style>
    </head>
<body>
    <h1 id="title">
        ԲԻԶՆԵՍ ՎԱՐԿ ՏՐԱՄԱԴՐԵԼՈՒ ՄԱՍԻՆ ՀԱՅՏ –ՊԱՅՄԱՆԱԳԻՐ
        <span class="note">/այսուհետ նաև` Պայմանագիր/</span>
        թիվ <span class="note">{DOCUMENT_NUMBER}</span>
    </h1>
    <div id="document-header-info">
        <div id="date">Ամսաթիվ {DATE}</div>
    </div>
    <div class="table">
        <div class="table-row">
            <div class="table-cell-25 field-label">
                Մասնաճյուղ, գրասենյակ*
            </div>
            <div class="table-cell-50 field-value">
                {BRANCH_NAME}
            </div>

            <div class="table-cell">
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell-25 field-label">
                Հաճախորդի համարը <span class="note">(Նշել առկայության դեպքում)</span>*
            </div>
            <div class="table-cell-50 field-value">
                {CLIENT_CODE}
            </div>

            <div class="table-cell">
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell-25 field-label">
                Հաճախորդի վարկային կոդը <span class="note">(Նշել վարկը հաստատելու դեպքում)</span>*
            </div>
            <div class="table-cell-50 field-value italic">
                {CLIENT_LOAN_CODE}
            </div>

            <div class="table-cell">
            </div>
        </div>
    </div>
    <hr />
    <div class="italic bold">*Լրացվում է Բանկի կողմից</div>
    <div class="section">
        <h2>ՀԱՃԱԽՈՐԴԻ /այսուհետ նաև՝ ՎԱՐԿԱՌՈՒԻ/ ՏՎՅԱԼՆԵՐ</h2>
        <div class="section-content">
            <div class="table">
                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Անվանում և կազմակերպաիրավական ձև
                    </div>
                    <div class="table-cell field-value">
                        {COMPANY_NAME_AM} {COMPANY_TYPE}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Գրանցման համար
                    </div>
                    <div class="table-cell-25 field-value">
                        {COMPANY_REGISTRATION_CODE}
                    </div>
                    <div class="table-cell">
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Տրման ամսաթիվ
                    </div>
                    <div class="table-cell-25 field-value">
                        {COMPANY_REGISTRATION_DATE}
                    </div>

                    <div class="table-cell">
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Հարկ վճարողի հաշվառման համարանիշ / ՀՎՀՀ
                    </div>
                    <div class="table-cell-25 field-value">
                        {TAX_ID_NUMBER}
                    </div>

                    <div class="table-cell">
                    </div>
                </div>
            </div>
            <hr />
            <div class="table">
                <div class="table-row">
                    <div class="field-label">
                        Գրանցման հասցե
                    </div>
                    <div class="field-value">
                        {REGISTRATION_ADDRESS}
                    </div>
                </div>

                <div class="table-row">
                    <div class="field-label">
                        Փաստացի գործունեության հասցե
                    </div>
                    <div class="field-value">
                        {ACTUAL_ADDRESS}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell-25 field-label">
                                    Բջջային հեռախոս
                                </div>
                                <div class="table-cell-25 field-value">
                                    {CELL_PHONE_NUMBER}
                                </div>

                                <div class="table-cell-25 field-label">
                                    Էլ. փոստի հասցե
                                </div>
                                <div class="table-cell-25 field-value">
                                    {EMAIL}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell-25 field-label">
                                    Վեբ կայք
                                </div>
                                <div class="table-cell-25 field-value">
                                    {WEBSITE}
                                </div>

                                <div class="table-cell-25 field-label">
                                    Ֆեյսբուքյան Էջ
                                </div>
                                <div class="table-cell-25 field-value">
                                    {FACEBOOK}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="table">
                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Գործունեության ոլորտ
                    </div>
                    <div class="table-cell-25 field-value">
                        {EMPLOYER_TYPE}
                    </div>

                    <div class="table-cell-25 field-label">
                        Փաստացի գործունեության ոլորտ
                    </div>
                    <div class="table-cell-25 field-value">
                        {FACTUAL_INDUSTRY_NAME}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Հաճախորդի տարեկան շրջանառություն
                    </div>
                    <div class="table-cell-25 field-value">
                        {ANNUAL_TURNOVER}
                    </div>

                    <div class="table-cell">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="section">
        <h2>ՀԱՃԱԽՈՐԴԻ /ՎԱՐԿԱՌՈՒԻ/ ԿՈՂՄԻՑ ՀԱՅՑՎՈՂ ՎԱՐԿԻ /այսուհետ նաև՝ Վարկ/ ՊԱՅՄԱՆՆԵՐԸ</h2>
        <div class="section-content">
            <p class="bold italic">
                Հիմք ընդունելով «Ամերիաբանկ» ՓԲԸ-ի /այսուհետ նաև՝ Բանկ/ Բիզնեսի մանրածախ վարկավորման պայմանները», որոնց ես ծանոթացել և համաձայնել եմ Բանկի կայքում տեղադրված հղումների միջոցով և/կամ Բանկի տարածքում Բանկի աշխատակիցների ներկայացմամբ՝ առաջարկում եմ Բանկին ինձ՝ Վարկառուիս, {LOAN_TERM} ժամկետով տրամադրել առևտրային վարկ ոչ ավել, քան 24% տարեկան անվանական տոկոսադրույքով` Վարկի գումարի և տոկոսագումարի հանրագումարը սույն Պայմանագրով սահմանված հետևյալ մարման եղանակներից նշված եղանակով  յուրաքանչյուր ամիս մարելու պայմանով՝
                <ul style="list-style: none;">
                    <li>
                        <div>Անուիտետային  <input type="checkbox" checked /></div>
                    </li>
                    <li>
                        <div>Հավասարաչափ  <input type="checkbox" /></div>
                    </li>
                    <li>
                        <div>Խառը  <input type="checkbox" /></div>
                    </li>
                </ul>
            </p>
            <div class="table">
                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Վարկի նախընտրելի գումար
                    </div>
                    <div class="table-cell-25 field-value">
                        {INITIAL_AMOUNT}
                    </div>

                    <div class="table-cell-25 field-label">
                        Վարկի նախընտրելի արժույթ
                    </div>
                    <div class="table-cell-25 field-value">
                        {CURRENCY_NAME}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-cell-25 field-label">
                        Վարկի ամենամսյա վճարման նախընտրելի օր
                    </div>
                    <div class="table-cell-25">
                        <div class="field-value">
                            {REQUESTED_REPAYMENT_DAY}
                        </div>
                        <div class="field-note">
                            (նշել ամսվա 1-25-րդ օրերը)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h2>ԾԱՆՈՒՑՈՒՄՆԵՐԻ ՍՏԱՑՄԱՆ ՀԱՆՁՆԱՐԱՐԱԿԱՆ</h2>
        <div class="section-content">
            <p class="italic">
                Սույնով հանձնարարում եմ Բանկին ինձ հետ հաղորդակցվելիս առաջնորդվել 
                <span class="bold">սույն Պայմանագրով համաձայնեցված հաղորդակցման եղանակներով և/կամ «Բանկի և Հաճախորդի միջև հաղորդակցման հանձնարարականով»,</span> 
                որի կիրառմամբ ես  որոշում եմ  Պայմանագրի հետ կապված ծանուցումների, քաղվածքների, պայմանների փոփոխման, կողմերի միջև հաղորդակցման կարգի կամ Կողմերի իրավունքների, պարտականությունների կամ պատասխանատվության սահմանման, փոփոխման կամ դադարեցման մասին տեղակատվության ստացման, ինչպես նաև ՀՀ օրենսդրությամբ նախատեսված այլ տեղեկատվությունը ինձ ներկայացնելու եղանակը:
            </p>
            <p class="italic">
                Սույնով հայտնում եմ իմ համաձայնությունն առ այն, որ Պայմանագրից բխող վեճերի լուծման կամ Կողմերի իրավունքների ու պարտականությունների իրականացման ժամանակ, դատարանը, պետական մարմինները և այլոք Բանկի պահանջով կարող են կիրառել ինձ հետ հաղորդակցման/ծանուցումների ներկայացման/ուղարկման «Բանկի և Հաճախորդի միջև հաղորդակցման հանձնարարականով» և/կամ ստորև սահմանված կարգը:
            </p>
            <p class="italic">
                Ինձ ուղղված ծանուցումները, պահանջները, դիմումները և/կամ այլ փաստաթղթերը/տեղեկությունները կարող են ուղարկվել/ներկայացվել իմ կողմից Բանկին տրամադրված էլեկտրոնային փոստի կամ պաշտոնական էլեկտրոնային փոստի հասցեին, ընդ որում, ես կհամարվեմ պատշաճ ծանուցված, երբ ծանուցումն ուղարկվել է իմ՝ Բանկին տրամադրած էլեկտրոնային փոստի և/կամ պաշտոնական էլեկտրոնային փոստի հասցեով, և առկա է այն ուղարկելու մասին էլեկտրոնային հավաստում, եթե նույնիսկ բացակայում է այն կարդալու մասին էլեկտրոնային հավաստումը: Այս դեպքում ես կհամարվեմ պատշաճ ծանուցված ծանուցումն ստանալուն հաջորդող 5-րդ /հինգերորդ/ օրվանից:
            </p>
            <p class="italic">
                Սույնով ես հայտնում եմ իմ համաձայնությունն առ այն, որ ծանուցումների վերը նշված եղանակը և կարգը Բանկը կարող է կիրառել իմ կողմից պարտավորությունների չկատարման կամ ոչ պատշաճ կատարման դեպք/եր/ում, արտադատական բռնագանձման ծանուցումներ/պահանջագրեր/նախապահանջներ/նյութեր/փաստաթղթեր ներկայացնելու ժամանակ:
            </p>
            <p class="italic">
                Սույնով հավաստում եմ, որ ինձ ծանուցման լիարժեք այլընտրանքային եղանակ կարող է հանդիսանալ նաև ձայնագրվող և արձանագրվող հեռախոսային կապի միջոցը կամ SMS հաղորդագրությունը, որով ես տեղեկացվում եմ Պայմանագրով սահմանված կարգի պահպանմամբ ինձ ուղղված գրավոր ծանուցման հասանելիության մասին:
            </p>
            <p class="italic">
                Սույնով հավաստում եմ, որ ինձ ծանուցման հեռախոսահամար, փոստային, էլեկտրոնային կամ այլ հեռահար կապի հասցե կարող է ծառայել նաև իմ կողմից Բանկին տրամադրված ցանկացած հասցե/կապի միջոց/հեռախոսահամար, որը ես նշել եմ Պայմանագրում կամ գրավոր եղանակով տրամադրել եմ Բանկին կամ այն Բանկին հասանելի է դարձել այլ եղանակով:
            </p>
            <p class="italic">
                Ես կրում եմ իմ պաշտոնական էլեկտրոնային փոստին կամ իմ կողմից Բանկին տրամադրված էլեկտրոնային հաղորդակցության միջոցներին ուղարկված ծանուցագիրը, պահանջագիրը, տեղեկությունները կամ այլ փաստաթղթերը չկարդալու, ինչպես նաև Բանկի և իմ միջև հաղորդակցման համար անհրաժեշտ իմ որևէ տվյալի փոփոխության վերաբերյալ Բանկին չտեղեկացնելու արդյունքում վրա հասնող բոլոր անբարենպաստ իրավական հետևանքների ռիսկը:
            </p>
            <p class="italic">
                Եթե այլ բան նախատեսված չէ Պայմանագրով կամ Կողմերի գրավոր համաձայնությամբ, ես համարվում եմ պատշաճ ծանուցված Բանկի և Հաճախորդի միջև հաղորդակցման հանձնարարականով» և/կամ Պայմանագրով սահմանված կարգով և/կամ իմ նախընտրած միջոցով տեղեկություններն ինձ հասանելի դառնալու պահից, անկախ այն հանգամանքից, թե ես փաստացի երբ եմ ստանում այն: Ընդ որում, Պայմանագրի հետ կապված ծանուցումները, քաղվածքները, պայմանների փոփոխման մասին, ինչպես նաև ցանկացած այլ տեղակատվություն ինձ առձեռն հանձնվելու պարագայում ես կհամարվեմ պատշաճ ծանուցված՝ հրաժարվելով սույն Պայմանագրով և/կամ «Բանկի և Հաճախորդի միջև հաղորդակցման հանձնարարականով» համաձայնեցված որևէ եղանակով լրացուցիչ ծանուցվելուց:
            </p>
            <p class="italic">
                Սույնով ես ինձ իրավունք եմ վերապահում ցանկացած պահի պահանջել փոփոխել Պայմանագրի հետ կապված ծանուցումների, քաղվածքների, պայմանների փոփոխման մասին, ինչպես նաև ցանկացած այլ տեղակատվության ստացման եղանակը` Բանկ ներկայացնելով նոր «Բանկի և Հաճախորդի միջև հաղորդակցման հանձնարարական»:
            </p>
        </div>
    </div>

    <div class="section">
        <h2>ՎԱՐԿԻ ՏՐԱՄԱԴՐՈՒՄԸ, ՎԱՐԿԻ ԵՎ ՏՈԿՈՍՆԵՐԻ ՎԵՐԱԴԱՐՁԸ</h2>
        <div class="section-content">
            <p class="level2">
                Վարկը տրամադրվում է Վարկառուին պայմանագիրը կնքելուց հետո 3 /երեք/ բանկային օրվա ընթացքում՝ միանվագ անկանխիկ եղանակով։ Վարկի գումարը մուտքագրվում է Վարկառուի` Բանկում առկա ընթացիկ հաշվին /հաշվի առկայության դեպքում/։ Հաշվի բացակայության դեպքում Վարկառուի համար բացվում է ընթացիկ հաշիվ՝ վարկի արժույթով վարկի տրամադրման և սպասարկման համար, որի սպասարկումն իրականացվում է համաձայն 
                <span class="bold">«Ամերիաբանկ» ՓԲԸ կողմից իրավաբանական անձանց (անհատ ձեռներեցներին) բանկային ծառայությունների մատուցման հիմնական պայմանների» և «Ամերիաբանկ» ՓԲԸ սակագների իրավաբանական անձ հաճախորդների համար»։</span>։
            </p>
            <p class="level2">
                Վարկի տրամադրման միանվագ վճարը /եթե այդպիսին ենթակա է վճարման/ գանձվում է Վարկը տրամադրելու պահին:
            </p>
            <p class="level2">
                Տոկոսների հաշվարկը սկսվում է Վարկի գումարը Վարկառուի` Բանկում բացված հաշվին փաստացի մուտքագրելու օրվանից։ Վարկի տոկոսները հաշվարկվում են օրական կտրվածքով՝ Վարկառուին տրամադրված Վարկի մնացորդի վրա` որպես հիմք ընդունելով տարին օրացուցային, բաժանարարը 365 օր:
            </p>
            <p class="level2">
                Վարկի և տոկոսների մարումները կատարվում են Պայմանագրի անբաժանելի մասը հանդիսացող Հավելվածով 1-ով սահմանված մարման ժամանակացույցին համապատասխան։ Վերջինս Վարկառուին է տրամադրվում Պայմանագիրը կնքելուց հետո 3 բանկային օրվա ընթացքում՝ այն ուղարկելով Վարկառուի էլեկտրոնային հասցեին կամ անձնական էջին կամ հասանելի դարձնելով «Ինտերնետ Բանկ» համակարգում (դրանցից որևիցե մեկի առկայության դեպքում), ինչպես նաև այն հասանելի դարձնելով Բանկի տարածքում։
            </p>
            <p class="level2">
                Այն դեպքերում, երբ Վարկառուն վաղաժամկետ մասնակի մարում է կատարում վարկի գումարի մնացորդից, ապա սույնով Կողմերը համաձայնում են, որ վարկի մարման նոր ժամանակացույցը Բանկը հասանելի է դարձնում Վարկառուին «Ինտերնետ Բանկ» համակարգում /առկայության դեպքում/, կամ պարտավորվում է Վարկառուի առաջին իսկ պահանջով և նրա ցանկությամբ ու ընտրությամբ` կա՛մ տրամադրել նոր ժամանակացույցը վերջինիս առձեռն Բանկում կա՛մ Վարկառուի պահանջով ուղարկել այն Հաճախորդի էլեկտրոնային հասցեին: Անկախ տրմադրման եղանակից` մարման նոր ժամանակացույցը տրվում է Վարկառուին միայն միակողմանի ստորագրված և դրոշմակնքված Բանկի համապատասխան աշխատակցի կողմից` առանց Վարկառուի ստորագրության։
            </p>
            <p class="level2">
                Վարկի, Տոկոսների, Վարկի տրամադրման վճարների (առկայության դեպքում), տուժանքների և այլ պայմանագրային պարտավորությունների վճարումները կատարվում են Վարկառուի` Բանկում բացված բանկային հաշիվներից։
            </p>
            <p class="level2">
                Վարկը, Տոկոսները, տուժանքները և այլ պայմանագրային վճարները, բացառությամբ տրամադրման վճարի, անկանխիկ ճանապարհով վճարելու դեպքում դրանք գանձվում են Վարկառուի` Բանկում գործող Վարկի արժույթով <span class="bold italic">{ACCOUNT_NUMBER}</span> հաշվից: Վերջինիս վրա անհրաժեշտ միջոցների բացակայության դեպքում Բանկն իրավունք ունի գանձվելիք գումարի չափով գումար ելքագրել Վարկառուի` Բանկում գործող ցանկացած արժույթով այլ հաշվից/ներից/, ընդ որում` արժույթների փոխարկումն իրականացվում է այդ պահին Բանկում գործող համապատասխան փոխարժեքով: Տրամադրման վճարները (առկայության դեպքում) գանձվում են ՀՀ դրամով Վարկառուի` Բանկում գործող ցանկացած արժույթով հաշիվներից, որոնց վրա առկա են բավարար միջոցներ, ընդ որում` արժույթների փոխարկումն իրականացվում է այդ պահին գործող ՀՀ ԿԲ փոխարժեքով: Նշված գումարները Բանկի կողմից գանձվում են անակցեպտ կարգով, առանց Վարկառուին լրացուցիչ ծանուցելու և/կամ տեղեկացնելու։
            </p>
            <p class="level2">
                Պայմանագրից բխող Վարկառուի կողմից կատարված ցանկացած վճարում ուղղվում է Վարկառուի` Պայմանագրից բխող պարտքի մարմանը, որոնց հերթականությունը որոշում է Բանկը:
            </p>
            <p class="level2">
                Վարկի վաղաժամկետ մարումը  (սույն կետը գործում է` ըստ ստորև նախանշված պայմանի/.
                <ul style="list-style: none;">
                    <li>
                        <div><input type="checkbox" checked />Վարկի վաղաժամկետ մարման համար լրացուցիչ տոկոս/գումար չի հաշվարկվում/վճարվում:</div>
                    </li>
                    <li>
                        <div><input type="checkbox" />Պայմանագրի ժամկետի առաջին 3 տարիների ընթացքում Վարկի լրիվ կամ մասնակի վաղաժամկետ մարման դեպքում, Վարկառուն Բանկին վճարում է ժամկետից շուտ վճարած գումարի 3 (երեք) Տոկոսը, ինչը ենթակա է գանձման/վճարման Տոկոսագումարների մարման համար Պայմանագրով սահմանված հաշիվներից:</div>
                    </li>
                </ul>
            </p>
            <div class="level2">
                Վարկառուն պարտավորում է Վարկը ստանալուց հետո առավելագույնը  30 /երեսուն/ օրացուցային օրվա ընթացքում ամբողջությամբ և պատշաճորեն կատարել ստորև նշված հետպայմանները /այսուհետ` Հետպայման/ներ/ /նշել կիրառելին/
                <ul style="list-style: none;">
                    <li>
                        <div><input type="checkbox" checked />Հետպայման/ներ սահմանված չեն: Եթե Հետպայման/ներ/ սահմանված չեն, ապա Պայմանագրում առկա Հետպայման/ներ/ին վերաբերող դրույթները կիրառելի չեն:</div>
                    </li>
                    <li>
                        <div><input type="checkbox" />Հետպայմանները հետևյալն են`</div>
                    </li>
                </ul>
                Սույն կետում նշված Հետպայման/ներ/ից /առկայութայն դեպքում/ նույնիսկ մեկը Վարկառուի կողմից պատշաճորեն և ամբողջությամբ չկատարվելու դեպքում Վարկի տարեկան տոկոսադրույքը Բանկի կողմից ինքնաբերաբար` առանց Վարկառուին լրացուցիչ ծանուցելու` միակողմանիորեն  բարձրացվում և սահմանվում է գործող տոկոսադրույք + 2 /երկու/ տոկոս հավելումով, ինչպես նաև Բանկն իրավունք ունի Վարկառուից պահանջել վաղաժամկետ ամբողջությամբ մարել Վարկային պարտավորությունները` մարման օրվա դրությամբ հաշվարկված ամբողջ ծավալով /ներառյալ վարկի մայր գումարները, տոկոսները, տուժանքները և բոլոր այլ կիրառելի վճարները/:  Ընդ որում, սույն կետում սահմանված կարգով տոկոսի բարձրացումը և/կամ Վարկի վաղաժամկետ հետ կանչումը չի սահմանափակում Բանկի իրավունքները` Վարկառուի նկատմամբ կիրառել Պայմանագրով իրեն վերապահված այլ պատասխանատվության միջոցներ և իրավունքներ, իսկ Վարկառուն չի ազատվում Հետպայման/ներ/ը անհապաղ և պատշաճ կարգով կատարելու իր պարտականությունից:
                Հետպայման/ներ/ի չկատարման կամ ոչ պատշաճ կատարման համար սահմանված Տոկոսադրույքը` +2 (երկու) տոկոս հավելումով, հաշվարկվում/կիրառվում է սկսած Հետպայմանների և/կամ ոչ դրամային պարտավորության կատարման վերջնաժամկետին հաջորդող ամսվա առաջին օրվանից մինչև Վարկի ամբողջական մարումը:
            </div>
            <div class="{IS_REFINANCING}">
                <p class="level2">
                    Վարկառուի կողմից այլ բանկ/եր/ում առկա վարկային պարտավորությունները Բանկ տեղափոխելու Վարկառուի ցանկության դեպքում հաստատված վարկի գումարից ավտոմատ եղանակով մարվում են Վարկառուի` այլ բանկ/եր/ում առկա բոլոր վարկային պարտավորությունները` ըստ Վարկառուի տրամադրած <span class="bold italic">{REFINANCING_LOAN_CODES}</span> վարկային կոդ/եր/ի, ընդ որում` արժույթների փոխարկումն իրականացվում է այդ պահին գործող ՀՀ ԿԲ փոխարժեքով:
                </p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>ԿՈՂՄԵՐԻ ԻՐԱՎՈՒՆՔՆԵՐՆ ՈՒ ՊԱՐՏԱԿԱՆՈՒԹՅՈՒՆՆԵՐԸ</h2>
        <div class="section-content">
            <h3>Բանկն իրավունք ունի.</h3>
            <div class="section-content">
                <p class="level3">
                    Պայմանագրի գործողության ընթացքում հսկողություն սահմանել Վարկառուի բոլոր հաշիվների շարժի նկատմամբ, ինչպես նաև Վարկառուից պահանջել և ստանալ լրացուցիչ տեղեկություններ և փաստաթղթեր․
                </p>
                <p class="level3">
                    Փաստաթղթային կամ անմիջականորեն վերահսկել Վարկառուի կողմից Վարկի նպատակային օգտագործումը, ինչպես նաև իրականացնել մոնիթորինգ՝ Վարկառուի վարկունակության աստիճանը պարզելու նպատակով։ Ընդ որում, նշված վերահսկողությունը Բանկը կարող է իրականացնել նաև մասնագիտացված անկախ կազմակերպությունների միջոցով:
                </p>
                <p class="level3">
                    Ցանկացած ժամանակ միակողմանիորեն փոփոխել Տոկոսադրույքը՝ կախված ֆինանսական շուկայից Բանկի ներգրաված և/կամ շուկայում տեղաբաշխված միջոցների տոկոսադրույքների տատանումներից և/կամ եթե ֆինանսական շուկայում իրատեսական են դարձել Վարկի տարեկան տոկոսադրույքի փոփոխման նախադրյալները և/կամ Պայմանագրի 7.1 կետով սահմանված դեպքերից որևէ մեկի առկայության կամ Պայմանագրով սահմանված այլ դեպքերում: Բանկը Տոկոսի չափի փոփոխման մասին առնվազն 7 /յոթ/ օր առաջ ծանուցում է Վարկառուին, ինչպիսի հանգամանքը հիմք է հանդիսանում ծանուցման մեջ նշված ժամկետից փոփոխված Տոկոսը կիրառելու համար: Եթե Վարկառուն համաձայն չէ փոփոխված Տոկոսի հետ, ապա նա իրավունք ունի վաղաժամկետ լուծել Պայմանագիրը` կատարելով Բանկի հանդեպ Պայմանագրով իր ունեցած պարտավորություններն ամբողջ ծավալով:
                </p>
                <p class="level3">
                    կիրառել Հետպայմանների չկատարման համար սահմանված Տոկոսադրույքը /գործող Տոկոսադրույք+2/, նաև եթե Վարկառուն չի կատարել կամ անպատշաճ է կատարել Պայմանագրով/Գրավի և/կամ այլ ապահովման միջոցների պայմանագր/եր/ով սահմանված ոչ դրամական /ներառյալ՝ նախանշված/սահմանված պայմաններով/ծավալներով ապահովման միջոց/ներ/ տրամադրելու/ գույքի ապահովագրություն իրականացնելու/ Վարկն նպատակային օգտագործելու /պարտավորությունները:
                </p>
                <p class="level3">
                    Եթե Հաճախորդը հայտնվում է ՀՀ կամ միջազգային «Սև Ցուցակներում», ապա Բանկն ազատորեն իրավունք ունի փոփոխել Վարկ տրամադրելու մասին որոշումը և չտրամադրել վարկը կամ պահանջել վերադարձնել Վարկի գումարը:
                </p>
            </div>
            <h3>Բանկը պարտավոր է.</h3>
            <div class="section-content">
                <p class="level3">
                    Բանկի դրական դիրքորոշման դեպքում Վարկի տրամադրման պայմաններին համապատասխան իրականացնել Վարկի ձևակերպումներ, ժամանակին և սահմանված կարգով տանել հաշվառում Վարկի շարժի, մարումների, տոկոսագումարների հաշվառման վերաբերյալ, Վարկառուի պահանջով վերջինիս տրամադրել անհրաժեշտ տեղեկություններ,
                </p>
                <p class="level3">
                    Երեսնօրյա պարբերականությամբ Վարկառուին ներկայացնել վերջինիս` Պայմանագրից բխող պարտավորությունների և դրանց առաջացման հիմքերի և մարումների վերաբերյալ տեղեկատվություն, այդ թվում` Վարկառուի կողմից իր պարտավորությունները չկատարելու կամ ոչ պատշաճ կատարելու համար կիրառվող կամ կիրառված տուժանքի կամ Վարկառուի վիճակը վատթարացնող ցանկացած այլ միջոցների ցանկը, դրանց կիրառման դեպքերն ու կարգը:
                </p>
                <p class="level3">
                    Վարկառուի կողմից Վարկի և/կամ Տոկոսների վճարումը կատարելուց հետո Վարկառուի պահանջով վերջինիս տրամադրել պարտավորության լրիվ կամ մասամբ /եթե այն կատարվել է մասամբ/ կատարումը հավաստող քաղվածք:
                </p>
                <p class="level3">
                    ՀՀ օրենսդրությամբ սահմանված կարգով պահպանել բանկային գաղտնիք կազմող տեղեկությունները:
                </p>
            </div>

            <h3>Վարկառուն իրավունք ունի.</h3>
            <div class="section-content">
                <p class="level3">
                    Պայմանագրով սահմանված ժամկետից շուտ մասնակի կամ ամբողջությամբ մարել Վարկը և դրա դիմաց հաշվարկված փաստացի տոկոսագումարը ու կուտակված տուժանքը (առկայության դեպքում):
                </p>
            </div>

            <h3>Վարկառուն պարտավոր է.</h3>
            <div class="section-content">
                <p class="level3">
                    կրել պատասխանատվություն ՀՀ օրենսդրության շրջանակներում իր կողմից Բանկին ներկայացված փաստաթղթերի իսկության և արժանահավատության համար,
                </p>
                <p class="level3">
                    Պայմանագրով նախատեսված ժամկետներում և կարգով Բանկին վերադարձնել ստացված Վարկը և վճարել դրա օգտագործման համար հաշվարկված տոկոսները, Տրամադրման վճարները (առկայության դեպքում), ինչպես նաև համապատասխան վարկատեսակի համար Բանկի սակագներով/պայմաններով նախատեսված այլ վճարները,
                </p>
                <p class="level3">
                    Վարկն օգտագործել բիզնեսի ընդլայնման, ընթացիկ գործունեության իրականացման նպատակով և նպաստել Բանկի կողմից Վարկի նպատակային օգտագործման նկատմամբ վերահսկողության անարգել իրականացմանը,
                </p>
                <p class="level3">
                    վերակազմակերպման կամ լուծարման դեպքում Բանկի պահանջով անհապաղ մարել Վարկը՝ անկախ դրա` Պայմանագրով նախատեսված մարման ժամկետներից՝ վճարելով Վարկի օգտագործման համար հաշվարկված Տոկոսները, տուժանքները,
                </p>
                <p class="level3">
                    Բանկին վճարել Պայմանագրով նախատեսված տուժանքները, եթե չի կատարել կամ ոչ պատշաճ է կատարել դրանով ստանձնած պարտավորությունները` ներառյալ կատարման կետանցի դեպքում,
                </p>
                <p class="level3">
                    Բանկի նախաձեռնությամբ Պայմանագիրը միակողմանի /վաղաժամկետ/ լուծելու վերաբերյալ ծանուցումը ստանալուց հետո Բանկի կողմից նշված ժամկետում մարել Վարկը, հաշվարկված Տոկոսները և տուժանքները,
                </p>
                <p class="level3">
                    կատարել Պայմանագրով և/կամ վերջինիս ապահովման միջոցների պայմանագրերով նախատեսված այլ պարտավորություններ,
                </p>
                <p class="level3">
                    Բանկում իր կողմից իրականացված շրջանառության ծավալներով հիմնավորել իր ընթացիկ վարկունակությունը,
                </p>
                <p class="level3">
                    Պայմանագրի գործողության ողջ ժամկետում Երրորդ անձանց հանդեպ պարտավորություններ ստանձնելուց և/կամ այլ բանկերում նոր հաշիվներ /այդ թվում` վարկային/ բացելուց առաջ այդ մասին նախապես գրավոր ծանուցել Բանկին, ինչպես նաև վերջինիս տրամադրել տեղեկատվություն այլ Բանկերում իր կողմից իրականացված շրջանառության ծավալների վերաբերյալ,
                </p>
                <p class="level3">
                    ձեռնարկել հատուկ միջոցառումներ, կատարել համապատասխան ներդրումներ կամ մշակել և իրականացնել միջոցառումներ` էկոլոգիական և/կամ սոցիալական ազդեցություններից խուսափելու կամ դրանք մեղմացնելու և/կամ իր գործունեությունը Բանկի կողմից իրականացվող մոնիթորինգի և հաշվետվողականության պահանջներին համապատասխանեցնելու նպատակով,
                </p>
                <p class="level3">
                    անմիջապես, սակայն ոչ ուշ, քան մեկօրյա ժամկետում գրավոր ծանուցել Բանկին իր գործունեության հետ կապված տեղի ունեցած կամ հավանական այնպիսի դեպքերի մասին, որոնք կարող են բացասական և/կամ վնասակար ազդեցություն ունենալ շրջակա միջավայրի, մարդկանց /աշխատակիցների, հարևանությամբ բնակվողների,  հաճախորդների/ առողջության կամ անվտանգության վրա, այդ թվում` տվյալ դեպքերի կամ դրանց հետևանքների վերացման ուղղությամբ իր կողմից ձեռնարկված /ձեռնարկվող, ձեռնարկվելիք/ միջոցառումների մասին: Մասնավորապես` նման դեպքեր են հանդիսանում.
                </p>
                <div class="section-content">
                    <p class="level4">
                        ՀՀ նորմատիվ իրավական ակտերի պահանջով պետական մարմիններին պարտադիր տեղեկացման ենթակա, էկոլոգիական, առողջապահական և աշխատանքային անվտանգության ոլորտի հետ կապված դեպքերը,
                    </p>
                    <p class="level4">
                        մթնոլորտի մեծածավալ աղտոտման, մարդկանց մահվան կամ նրանց հոսպիտալացում պահանջող ծանր վնասվածքների պատճառ հանդիսացող դեպքերը,
                    </p>
                    <p class="level4">
                        ԶԼՄ-ների միջոցով կամ այլ կերպ հանրությանը հայտնի դարձած այլ նմանատիպ դեպքեր:
                    </p>
                </div>
                <p class="level3">
                    Կատարել Պայմանագրով և ՀՀ օրենսդրությամբ սահմանված այլ պարտավորությունները:
                </p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>ԿԵՏԱՆՑԻ ԴԵՊՔՈՒՄ ԿԻՐԱՌԵԼԻ ՏՈՒԺԱՆՔՆԵՐԸ ԵՎ ՊԱՅՄԱՆԱԳՐԱՅԻՆ ՊԱՏԱՍԽԱՆԱՏՎՈՒԹՅՈՒՆԸ</h2>
        <div class="section-content">
            <p class="level2">
                Պայմանագրով սահմանված Վարկի վերադարձելիության, այդ թվում` Պայմանագրի 7.1 կետով նախատեսված հիմքերով/դեպքերում և Տոկոսների վճարման որևէ ժամկետի խախտման դեպքում կարող է փոփոխվել Վարկի տոկոսադրույքը, ինչպես նաև, բացի տոկոսադրույքի փոփոխությունից կիրառվում է տուժանք` ըստ հետևյալ  պայմանների.
            </p>
            <div class="section-content">
                <p class="level3">
                    Խախտման օրվանից Վարկի (ներառյալ՝ դրա ժամկետանց մասի) գումարների նկատմամբ շարունակվում են հաշվարկվել Պայմանագրով նախատեսված տոկոսները:
                </p>
                <h4>Տուժանք` Վարկի մարման կետանցի դեպքում</h4>
                <div class="section-content">
                    <p>
                        Տույժ՝ ժամկետանց Վարկի և Տոկոսագումարի 0.13 %-ի չափով կետանցի յուրաքանչյուր օրվա համար:
                    </p>
                </div>
            </div>
            <p class="level2">
                Տուժանքի (տույժի և/կամ տուգանքի) փաստացի կիրառման դեպքում Տուժանքի տարեկան դրույքաչափը և/կամ Տուժանքների հանրագումարի չափը գործում է ՀՀ օրենսդրությամբ նշված թույլատրելի առավելագույն չափերի սահմաններում:
            </p>
            <p class="level2">
                Պայմանագրով ստանձնած պարտավորությունների չկատարման կամ ոչ պատշաճ կատարման դեպքում Վարկառուն պարտավորվում է Բանկին փոխհատուցել բոլոր տեսակի լրացուցիչ ծախսերը, որոնք կկատարվեն Բանկի կողմից:
            </p>
            <p class="level2">
                Վարկառուն գրավադրված գույքով լրիվ ծավալով պատասխանատվություն է կրում Պայմանագրով ստանձնած պարտավորությունները չկատարելու կամ ոչ պատշաճ կատարելու համար:
            </p>
            <p class="level2">
                Պայմանագրով սահմանված տուժանքների վճարումը Վարկառուին չի ազատում Պայմանագրով ստանձնած իր պարտավորությունները կատարելուց, ինչպես նաև չի կարող որևէ կերպ սահմանափակել Պայմանագիրը միակողմանիորեն լուծելու և/կամ պարտավորությունների վաղաժամկետ կատարում պահանջելու Բանկի իրավունքը:
            </p>
            <p class="level2">
                Եթե Վարկառուն թույլ է տալիս Պայմանագրով ստանձնած պարտավորությունների կատարման կետանց, ապա նրա պարտավորությունները կարող են կատարվել Վարկառուի` Բանկում առկա բանկային/քարտային հաշիվների մնացորդների հաշվին` առանց վերջինիս կողմից Բանկին ուղղված վճարման համապատասխան կարգադրություններ ստանալու, որի ապահովման համար սույնով Վարկառուն իրավունք է վերապահում «Ամերիաբանկ» ՓԲԸ-ին Պայմանագրից բխող ցանկացած դրամական պարտավորությունների չկատարման կամ ոչ պատշաճ կատարման դեպքերում իր` «Ամերիաբանկ» ՓԲԸ-ում սպասարկվող հաշիվներից անվիճելի կարգով գանձել պահանջվող պարտքի գումարը: Սույն կետը Վարկառուի կողմից հետագայում չի կարող վկայակոչվել և հիմք հանդիսանալ Բանկի կողմից տուժանքի հաշվարկման և գանձման փաստը վիճարկելու համար:
            </p>
            <p class="level2">
                Պայմանագրով ստանձնած պարտավորությունների չկատարման դեպքում, Բանկն իրավունք ունի իր պահանջի բավարարումն իրականացնել Պայմանագրով և ՀՀ օրենսդրությամբ սահմանված կարգով, այդ թվում նաև՝  պարտավորությունների ապահովման միջոցների (առկայության դեպքում)  հաշվին` բռնագանձում տարածելով վերջինիս վրա, ինչպես դատական, այնպես էլ արտադատական կարգով:
            </p>
        </div>
    </div>

    <div class="section">
        <h2>ՎԱՐԿԻ ԱՅԼ ՊԱՅՄԱՆՆԵՐ</h2>
        <div class="section-content">
            <p class="level2">
                Բանկն իրավունք ունի ամբողջությամբ կամ մասնակիորեն հրաժարվել Պայմանագրի սահմաններում Վարկի գումարները տրամադրելուց և/կամ փոփոխել Վարկի օգտագործման պայմանները (ներառյալ՝ միակողմանիորեն փոփոխել Տոկոսադրույքը) և/կամ վաղաժամկետ լուծելով Պայմանագիրը կամ առանց այն վաղաժամկետ լուծելու Վարկառուից պահանջել վերադարձնել Վարկի գումարները, վճարման օրվա դրությամբ հաշվարկված Տոկոսագումարները, առկայության դեպքում՝ Տուժանքները և այլ վճարները, և/կամ կիրառել Պայմանագրով և/կամ ՀՀ օրենսդրությամբ սահմանված պատասխանատվության այլ միջոցն/եր/ը, եթե.
            </p>
            <div class="section-content">
                <p class="level3">
                    պարզվի, որ Վարկառուի կողմից ներկայացված կամ հետագայում ներկայացվող տվյալները /փաստաթղթերը և այլ տեղեկատվությունը/ տեղեկություններն անարժանահավատ են, սխալ են կամ թերի,
                </p>
                <p class="level3">
                    Վարկառուի կողմից ներկայացված տեղեկությունները, տվյալները ժամանակի ընթացքում կամ հանգամանքների բերումով փոփոխվել են, որի առկայության դեպքում Բանկում գործող վարկավորման պայմանների համաձայն վարկավորում չէր իրականացվի կամ կիրականացվեր այլ պայմաններով,
                </p>
                <p class="level3">
                    փոփոխվել են Բանկում գործող վարկավորման չափորոշիչները/ուղղությունները,
                </p>
                <p class="level3">
                    պարզվի, որ Վարկառուն ունի կամ ունեցել է Պայմանագրով սահմանված և/կամ այլ ֆինանսական պարտավորությունների կատարման կետանցներ և/կամ ժամկետանց և/կամ դասակարգված պարտավորություններ /այդ թվում` երրորդ անձանց հանդեպ/,
                </p>
                <p class="level3">
                    բացասական ուղղությամբ փոփոխվել է Վարկառուի վարկային պատմության գնահատման ցուցանիշ/ներ/ը (սքորը),
                </p>
                <p class="level3">
                    նվազել է Վարկառուի ֆինանսական հոսքերը /ներառյալ եկամուտները/,
                </p>
                <p class="level3">
                    Վարկառուն խոչընդոտել է /հնարավորություն չի ընձեռել/ Բանկին իրականացնելու վերահսկողութուն/մոնիթորինգ,
                </p>
                <p class="level3">
                    առկա են այնպիսի հանգամանքներ, որոնք ակնհայտորեն վկայում են, որ Վարկը և/կամ Տոկոսագումարները Պայմանագրով սահմանված մարման ժամկետներում չեն վերադարձվի /այդ թվում` Վարկառուի և/կամ Երաշխավորի/Գրավատուի (առկայության դեպքում) սնանկություն կամ սնանկության նախադրյալներ/,
                </p>
                <p class="level3">
                    Վարկառուի ակտիվների /գույքի/ վրա օրենքով սահմանված կարգով կալանք կամ արգելանք է դրվել կամ սահմանափակում է կիրառվել և դա անհապաղ չի վերացվել,
                </p>
                <p class="level3">
                    պետական իրավասու մարմինների կողմից Վարկառուի նկատմամբ հարուցվել է դատական, քրեական, վարչական, սնանկության կամ այլ վարույթ, որը կարող է էական բացասական ազդեցություն ունենալ Վարկառուի ֆինանսական կայության և/կամ վիճակի վրա,
                </p>
                <p class="level3">
                    Վարկառուն Պայմանագրով սահմանված մարման ժամկետներում կամ Բանկի համապատասխան պահանջի դեպքում չի վերադարձնում/վճարում Վարկի գումարները, Տոկոսները, տուժանքները և այլ վճարները և/կամ այդ կետանցները կրում են պարբերական բնույթ,
                </p>
                <p class="level3">
                    Վարկառուն չի ներկայացնում կամ խեղաթյուրված է ներկայացնում Բանկի կողմից պահանջվող և/կամ Պայմանագրով նախատեսված տեղեկատվությունը /փաստաթղթերը/ կամ թույլ է տալիս դրանց ներկայացման ժամկետների էական կետանց,
                </p>
                <p class="level3">
                    Վարկառուի կողմից չի կատարվել կամ ոչ պատշաճ է կատարվել իր կողմից Պայմանագրով կամ առկայության դեպքում՝ ապահովման միջոցների պայմանագր/եր/ով սահմանված պարտավորություններից որևէ մեկը,
                </p>
                <p class="level3">
                    առկա են ՀՀ օրենսդրությամբ դրա համար նախատեսված այլ հիմքեր,
                </p>
                <p class="level3">
                    ինչպես Պայմանագրի 5.4.9 ենթակետով, այնպես էլ մնացած կետերով նախատեսված տեղեկատվության /փաստաթղթեր, հաշվետվություններ/, ինչպես նաև Բանկում Վարկառուի հաշիվների շրջանառության և այլ գործառնությունների ծավալների վերլուծության հիման վրա իրականացնել Վարկառուի ընթացիկ վարկունակության գնահատում, որից ելնելով`
                </p>
                <div class="section-content">
                    <p class="level4">
                        միակողմանիորեն վերանայել Վարկառուի` Պայմանագրով սահմանված վարկավորման պայմանները /ներառյալ Տոկոսները/ և/կամ
                    </p>
                    <p class="level4">
                        Վարկառուից պահանջելու Բանկի համար ընդունելի լրացուցիչ գրավ կամ այլ ապահովման միջոց և/կամ
                    </p>
                    <p class="level4">
                        վաղաժամկետ լուծելով Պայմանագիրը կամ առանց այն վաղաժամկետ լուծելու` Վարկառուից պահանջել վերադարձնել Վարկը, վճարման օրվա դրությամբ հաշվարկված Տոկոսները, Տրամադրմանման վճարները, տուժանքները:
                    </p>
                </div>
                <p class="level3">
                    Պայմանագրի գործողության ընթացքում սահմանել/փոփոխել Վարկի սպասարկան վճար/ներ/՝ Վարկառուին այդ մասին  գրավոր ծանուցելու միջոցով:
                </p>
            </div>
            <p class="level2">
                Եթե Վարկը տրամադրելիս Վարկառուի հաշիվների վրա գործում է որևիցե սահմանափակում/արգելանք, այդ թվում՝ պետական իրավասու մարմինների որոշմամբ, ապա նշված գումարի չափով Վարկի գումարը հասանելի չի լինի Վարկառուի համար։ 
            </p>
            <p class="level2">
                Վարկի օգտագործված գումարների, Տոկոսագումարների, Տուժանքների վճարումը/վերադարձնելիությունն ապահովված է Վարկառուի դրամական հոսքերի գրավով և Վարկառուի հիմնադրի/հիմնադիրների երաշխավորությամբ/երաշխավորություններով:
            </p>
            <p class="level2">
                Պայմանագրից ծագած պարտավորություններով հաշվանցի կատարումը կարող է իրականացվել միայն Բանկի համաձայնությամբ:
            </p>
        </div>
    </div>

    <div class="section">
        <h2>ՀԱՎԱՍՏԻԱՑՈՒՄՆԵՐ ԵՎ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆ</h2>
        <div class="section-content">
            <p class="bold">Ստորագրելով և/կամ Բանկ ներկայացնելով սույն Հայտ-պայմանագիրը, ես` Վարկառուս, գիտակցում եմ, որ.</p>
            <p class="level2 italic">
                ԲԱՆԿԻՆ ՆԵՐԿԱՅԱՑՆՈՒՄ ԵՄ ՊԱՅՄԱՆԱԳՐԻ ԿՆՔՄԱՆ ԱՌԱՋԱՐԿ /ՕՖԵՐՏԱ/, ՈՐԸ ԲԱՆԿԻ ԿՈՄԻՑ ՀԱՍՏԱՏՎԵԼՈՒ (ԱԿՑԵՊՏԱՎՈՐՎԵԼՈՒ) ՊԱՀԻՑ ՀԱՆԴԻՍԱՆՈՒՄ Է ՊԱՏՇԱՃ ԿՆՔՎԱԾ ՎԱՐԿԱՅԻՆ ՊԱՅՄԱՆԱԳԻՐ՝ ԴՐԱՆՈՒՄ ՆԱԽԱՏԵՍՎԱԾ ՊԱՅՄԱՆՆԵՐՈՎ: ԲԱՆԿԻ ՀԱՄԱՁԱՅՆՈՒԹՅՈՒՆԸ /ԱԿՑԵՊՏԸ/ ԿՀԱՄԱՐՎԻ ՊԱՏՇԱՃ ԻՆՁ ԾԱՆՈՒՑՎԱԾ` ՀԱՄԱՊԱՏԱՍԽԱՆ ՀԱՂՈՐԴԱԳՐՈՒԹՅՈՒՆ ԻՄ ՀԵՌԱԽՈՍԱՀԱՄԱՐԻՆ ՈՒՂԱՐԿԵԼՈՎ ԿԱՄ ԷԼԵԿՏՐՈՆԱՅԻՆ ՏԱՐԲԵՐԱԿՈՎ ԱՅԴ ՄԱՍԻՆ ԻՆՁ ՀԱՅՏՆԵԼՈՎ ԿԱՄ ՊԱՅՄԱՆԱԳԻՐԸ ՍՏՈՐԱԳՐԵԼՈՎ:
            </p>
            <p class="level2 italic">
                ԱՄԲՈՂՋՈՒԹՅԱՄԲ ԾԱՆՈԹԱՑԵԼ ԵՄ ԻՄ ԿՈՂՄԻՑ ԸՆՏՐՎԱԾ ՎԱՐԿԱՏԵՍԱԿԻ ՊԱՅՄԱՆՆԵՐԻՆ, ԻՆՉՊԵՍ ՆԱԵՎ ԳԻՏԱԿՑՈՒՄ ԵՄ, ՈՐ ԲԱՆԿԸ ԿԱՐՈՂ Է ԱՅԼ ՊԱՅՄԱՆՆԵՐՈՎ ՀԱՍՏԱՏԵԼ ԻՄ ՎԱՐԿԸ: ԲԱՆԿԻ ԿՈՂՄԻՑ ԱՅԼ ՊԱՅՄԱՆՆԵՐՈՎ ՎԱՐԿԸ ՀԱՍՏԱՏՎԵԼՈՒ ԴԵՊՔՈՒՄ /ՆՈՐ ՕՖԵՐՏԱ/ ՊԱՅՄԱՆԳԻՐՆ ՈՒԺԻ ՄԵՋ Է ՄՏՆՈՒՄ ԻՄ ԿՈՂՄԻՑ ԱՅՆ ԱԿՑԵՊՏԱՎՈՐՎԵԼԼՈՒ ԴԵՊՔՈՒՄ, ՈՐԸ ԿԱՐՈՂ Է ԴՐՍԵՎՈՐՎԵԼ ԻՄ ԿՈՂՄԻՑ ԻՄ ՀԱՄԱՁԱՅՆՈՒԹՅԱՆ ՆՇԱՆԸ ԷԼԵԿՏՐՈՆԱՅԻՆ ՄԻՋԱՎԱՅՐՈՒՄ ԱՐՏԱՑՈԼԵԼՈՎ ԵՎ/ԿԱՄ 10-ՐԴ ԿԵՏԻ ՎԵՐՋԻՆ ՄԱՍԻ ՍՏՈՐԱԳՐՈՒԹՅԱՄԲ ԵՎ/ԿԱՄ ԿՈՆԿԼՅՈՒԴԵՆՏ ԳՈՐԾՈՂՈՒԹՅՈՒՆՆԵՐՈՎ /ԱՅՆ Է` ՎԱՐԿՆ ՕԳՏԱԳՈՐԾԵԼՈՎ/։
            </p>
            <p class="level2">
                Պայմանագրով նախատեսված ժամկետներում պարտավորություններս չկատարելու դեպքում կամ ոչ պատշաճ կատարելու դեպքում պատասխանատվություն եմ կրելու ինձ պատկանող ամբողջ գույքով:
            </p>
            <p class="level2">
                Կրելու եմ արտաժույթի փոխարժեքի հետևանքով առաջացող հնարավոր անբարենպաստ հետևանքները, ինչպես նաև օգտվելու եմ փոխարժեքի հետևանքով առաջացող հնարավոր օգուտներից:
            </p>
            <p class="level2">
                Իմ կողմից տրամադրված տեղեկությունները և տվյալները, կախված դրանց բովանդակությունից, կարող են ազդել Բանկի կողմից կայացված համապատսխան որոշման վրա։
            </p>

            <p class="bold">Ստորագրելով և/կամ Բանկ ներկայացնելով սույն Հայտ-պայմանագրը, ես` Վարկառուս, համաձայնում և/կամ հավաստում եմ, որ.</p>
            <p class="level2">
                Վարկառուի անունից հանդես եմ գալիս որպես վերջինիս միակ հիմնադիր և տնօրեն, ով ունի Վարկառուի անունից վարկ ստանալու վերաբերյալ որոշում կայացնելու իրավասություն, բացառությամբ այն դեպքերի, երբ վարկառուն ԱՁ է կամ իրավաբանական անձ վարկառուի տնօրենը և միակ հիմնադիրը տարբեր անձինք են կամ իրավաբանական անձ վարկառուն ունի 1-ից (մեկից) ավելի հիմնադիրներ, ապա սույն Պայմանագրի կնքմամբ Վարկառուի կողմից Բանկից սույն Պայմանագրով սահմանված պայմաններով վարկ ստանալու վերաբերյալ Վարկառուի միակ հիմնադիր-տնօրենի որոշումը համարվում է կայացված: Ընդ որում, Բանկի կողմից սույն Պայմանագիրը վերջինում նշված պայմաններից տարբերվող պայմաններով ակցեպտավորելու դեպքում Վարկառուի կողմից Բանկից վարկ ստանալու վերաբերյալ Վարկառուի միակ հիմնադիր-տնօրենի որոշումը կհամարվի կայացված հենց այդ պայմաններով:
            </p>
            <p class="level2">
                Պայմանագիրը կնքելիս ծանոթացել եմ Բանկում գործող Բանկային հաշիվների սպասարկման, ինչպես նաև վարկավորման սահմանված պայմաններին ու սակագներին /որոնք կարող են Բանկի կողմից միակողմանիորեն փոփոխվել Պայմանագրի գործողության ընթացքում/ և դրանց` Բանկի կողմից հետագա կիրառման վերաբերյալ ես առարկություն չունեմ: Մասնավորապես` ծանոթացել և համաձայն եմ 
                <span class="bold">«Ամերիաբանկ» ՓԲԸ կողմից Իրավաբանական անձանց (անհատ ձեռներեցներին) բանկային ծառայությունների մատուցման հիմնական պայմաններին», «Ամերիաբանկ» ՓԲԸ սակագներին իրավաբանական անձ հաճախորդների համար», «Բիզնեսի մանրածախ վարկավորման պայմաններին»,</span> 
                ընդունում եմ դրանք և համաձայն եմ, որ դրանք Բանկի կողմից կարող են փոփոխվել և փոփոխված կիրառվել մեր հարաբերություններում: Ստացել եմ բավարար պարզաբանումներ վարկային պարտավորությունների չկատարման իրավական հետևանքների վերաբերյալ։
            </p>
            <p class="level2">
                Իմ կողմից տրամադրված տեղեկությունները ճիշտ են և ամբողջական:
            </p>
            <p class="level2">
                Սույն Հայտ-պայմանագրի ստորագրման պահին գործում եմ սթափ մտքով, իմ ազատ կամքի դրսևորմամբ՝ առանց որևէ մոլորության, խաբեության և հարկադրանքի ազդեցության, լիովին հասկանում և գիտակցում եմ իմ կողմից ստանձնվող պարտավորությունների իրավական բնույթը և դրանց չկատարման հետևանքները։
            </p>
            <p class="level2">
                Վարկի գումարի ստացումը երկուստեք համաձայնեցված պայմաններով բխում է իմ շահերից:
            </p>
            <p class="level2">
                Սույնով տալիս եմ համաձայնություն առ այն, որ «Ամերիաբանկ» ՓԲԸ-ն առանց ինձ տեղեկացնելու հարցումներ կատարի և ստանա ներքոնշյալ տեղեկությունները իմ՝ որպես Վարկառուի, ինչպես նաև իմ` որպես կազմակերպության միակ հիմնադրի և տնօրենի վերաբերյալ: Ընդ որում, այն դեպքում, երբ իրավաբանական անձ Վարկառուի տնօրենը և միակ հիմնադիրը տարբեր անձինք են կամ իրավաբանական անձ Վարկառուն ունի 1-ից (մեկից) ավելի հիմնադիրներ, վերջիններիս վերաբերյալ հարցումները կկատարվեն նրանց համաձայնությամբ.
            </p>
            <div class="section-content">
                <p class="level3">
                    ՀՀ ԿԲ Վարկային Ռեգիստրից և/կամ «ԱՔՌԱ Քրեդիտ Ռեփորթինգ» ՓԲԸ-ից իմ` որպես Վարկառուի, ինչպես նաև իմ` որպես Վարկառուի միակ հիմնադրի և տնօրենի ներկա և անցյալ դրամական պարտավորությունների մասին՝ Բանկում դրամական պարտավորություններ ստանձնելու/ունենալու, երրորդ անձի/անձանց պարտավորությունների երաշխավոր լինելու մասին, նախկինում իմ վերաբերյալ ստացված վարկային զեկույցի տեղեկատվությունը թարմացնելու նպատակներով:
                </p>
                <p class="level3">
                    «Նորք» սոցիալական ծառայությունների տեխնոլոգիական և իրազեկման կենտրոն հիմնադրամից իմ` որպես Վարկառուի, ինչպես նաև իմ` որպես Վարկառուի միակ հիմնադրի և տնօրենի ներկա և անցյալ աշխատանքային գործունեության մասին:
                </p>
                <p class="level3">
                    «Էլեկտրոնային կառավարման ենթակառուցվածքների ներդրման գրասենյակ» ՓԲԸ-ից փոխկապակցման միջոցով իմ՝ որպես Վարկառուի և վերջինիս կողմից իրականացվող բիզնես գործունեության /Վարկառուի անվանում, բիզնեսի ոլորտ, գործունեության ժամկետ, կարգավիճակ, կազմակերպաիրավական տեսակ, գրանցման հասցե, գրանցման վկայականի համար, գրանցման համար, գրանցման ժամկետ, սեփականատերերի/հիմնադիրների քանակ, կազմ, գրանցման հասցե, սեփականատեր/հիմնադիր դառնալու ամսաթիվ/, իմ՝ որպես կազմակերպության միակ հիմնադրի և տնօրենի անձնական տվյալների /անուն, ազգանուն, անձը հաստատող փաստաթղթի տվյալներ (համար, տրամադրող մարմին, տրման ամսաթիվ, վավերականության ժամկետ, քաղաքացիություն, սեռ, գրանցման հասցե), հանրային ծառայությունների համարանիշ, ծննդյան ամսաթիվ/ վերաբերյալ:
                </p>
                Միաժամանակ տալիս եմ համաձայնություն, որպեսզի Բանկը փոխանցի իմ դրամական պարտավորությունների մասին իր ունեցած տեղեկատվությունը ՀՀ ԿԲ Վարկային Ռեգիստր և/կամ «ԱՔՌԱ Քրեդիտ Ռեփորթինգ» ՓԲԸ: Ընդ որում, Իմ կողմից Բանկին պահանջ ներկայացնելու դեպքում անձնական տվյալները կուղղվեն, կոչնչացվեն, տվյալների մշակումը կդադարեցվի կամ մշակման հետ կապված այլ գործողություն կկատարվի, եթե ՀՀ օրենսդրությամբ, սույն Հայտ-պայմանագրով և Բանկի ներքին իրավական ակտերով այլ բան նախատեսված չէ:
                Սույն համաձայնությունն ինձ համար ամբողջությամբ հասկանալի և ընդունելի է, նաև հավաստում եմ, որ սույն համաձայնությունը կիրառելի է վերը նշված նպատակներով, իմ և Բանկի միջև հարաբերությունների ամբողջ ժամանակահատվածի համար:
            </div>
        </div>
    </div>

    <div class="section">
        <h2>ԵԶՐԱՓԱԿԻՉ ԴՐՈՒՅԹՆԵՐ</h2>
        <div class="section-content">
            <p class="level2">
                ՀՀ օրենսդրությամբ և/կամ Պայմանագրով նախատեսված դեպքերում Կողմերը կարող են միակողմանիորեն դադարեցնել Պայմանագիրը:
            </p>
            <p class="level2">
                Պայմանագրով ստանձնած պարտավորությունների կատարումը պարտադիր է Կողմերի իրավահաջորդների համար:
            </p>
            <p class="level2">
                Պայմանագրի կետերից որևէ մեկի գործողության դադարեցումը կամ անվավերությունը չի հանգեցնում մյուս կետերի գործողության դադարեցմանը կամ անվավերությանը:
            </p>
            <p class="level2">
                Պայմանագրի կապակցությամբ ծագած վեճերը լուծվում են  դատական կարգով` Երևան քաղաքի ընդհանուր իրավասության դատարանի կողմից:
            </p>
            <p class="level2">
                Վարկառուին տրամադրված Վարկային կոդի կիրառմամբ  Վարկառուն հնարավորություն ունի իրականացնելու Վարկի մարումները:
            </p>
            <p class="level2">
                Սույն Հայտ-պայմանագիրը կազմված է հայերեն լեզվով, 2 (երկու) օրինակից, որոնք ունեն հավասար իրավաբանական ուժ: Յուրաքանչյուր կողմին տրվում է մեկական օրինակ:
            </p>
            <p class="level2">
                Պայմանագիրը գործում է մինչև Պայմանգրով նախատեսված պարտավորությունների ամբողջական և պատշաճ կատարումը։
            </p>
        </div>
        <div class="non-breakable">
            <div class="table full-width">
                <div class="table-row">
                    <div class="table-cell">
                        <div class="signature-box">
                            &nbsp;
                            <div class="signature-text">
                                Վարկառուի ստորագրություն
                            </div>
                        </div>
                    </div>
                    <div class="table-cell bottom-align">
                        {APPLICATION_SUBMISSION_DATE}
                        <div class="form-notice">
                            Հայտի լրացման ամսաթիվ
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>

    <div class="section">
        <h2>ԲԱՆԿԻ ԴԻՐՔՈՐՈՇՈՒՄԸ ՎԱՐԿԱՌՈՒԻ ԱՌԱՋԱՐԿԱԾ ՎԱՐԿԻ ՊԱՅՄԱՆՆԵՐԻ ՎԵՐԱԲԵՐՅԱԼ</h2>
        <div class="table full-width">
            <div class="table-row">
                <div class="table-cell-25 field-label">
                    Վարկի հաստատման / մերժման վերաբերյալ Բանկի որոշում
                </div>
                <div class="table-cell">
                    <div><input type="checkbox" checked disabled />հաստատված է Բանկի կողմից՝ ստորև նշված պայմաններով</div>
                    <div><input type="checkbox" disabled />հայտը ենթակա է հավելյալ ուսումնասիրության</div>
                    <div><input type="checkbox" disabled />մերժված է</div>
                </div>
            </div>
            <div class="table-row">
                <div class="table-cell-25 field-label">
                    Վարկի գումարը և արժույթը
                </div>
                <div class="table-cell">
                    <div class="table full-width">
                        <div class="table-row">
                            <div class="table-cell-25">
                                <div class="field-value">
                                    {APPROVED_AMOUNT} {CURRENCY_NAME}
                                </div>
                            </div>
                            <div class="table-cell">
                                <div class="field-value">
                                    {APPROVED_AMOUNT_TEXT} {CURRENCY_NAME}
                                </div>
                                <div class="field-note">
                                    Վարկի գումարը տառերով
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table full-width">
            <div class="table-row">
                <div class="table-cell-25 field-label">
                    Վարկի մարման ժամկետ
                </div>
                <div class="table-cell-25 field-value">
                    {APPROVED_REPAYMENT_PERIOD}
                </div>

                <div class="table-cell-25 field-label">
                    Վարկի ամենամսյա վճարման օր
                </div>
                <div class="table-cell-25 field-value">
                    {APPROVED_REPAYMENT_DAY}
                </div>
            </div>

            <div class="table-row">
                <div class="table-cell-25 field-label">
                    Վարկի տարեկան անվանական տոկոսադրույք
                </div>
                <div class="table-cell-25 field-value">
                    {APPROVED_LOAN_INTEREST}
                </div>

                <div class="table-cell">
                </div>
            </div>
        </div>
        <div class="non-breakable">
            <p class="bold">
                <input type="checkbox" checked />Համաձայն եմ Բանկի կողմից հաստատված վերոնշյալ պայմաններին
            </p>
            <div class="table full-width">
                <div class="table-row">
                    <div class="table-cell-50">
                        <div class="signature-box">
                            &nbsp;
                            <div class="signature-text">
                                Վարկառուի ստորագրություն
                            </div>
                        </div>
                    </div>
                    <div class="table-cell-50">
                        <div class="signature-box">
                            &nbsp;
                            <div class="signature-text">
                                Բանկի ներկայացուցչի ստորագրություն
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table full-width">
                <div class="table-row" style="height: 50px;">
                    <div class="table-cell bottom-align">
                        {DATE}
                        <div class="form-notice">
                            Պայամանագրի կնքման ամսաթիվ
                        </div>
                    </div>
                    <div class="table-cell bottom-align">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>